body {
  color: #222;
  letter-spacing: 1px; }

a:hover {
  color: #FF6347; }

p {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #ffffff; }
  .bg_dark .description_wrapper::after {
    background: #ffffff; }

.s_about p {
  text-align: justify; }

.resume_item .year {
  background-color: #FF6347;
  color: #fff; }

.s-portfolio .content li {
  color: #888; }
  .s-portfolio .content li.active {
    color: #FF6347;
    border-bottom: 1px solid #FF6347; }
  .s-portfolio .content li:hover {
    color: rgba(255, 99, 71, 0.7); }

.main_form button:hover {
  background: #FF6347; }

.work_description button.mfp-close {
  color: #FF6347; }

.top_wrapper .top_text h1 {
  color: #FF6347; }

.header svg path {
  fill: #FF6347; }

.top_mnu ul a:hover {
  color: #FF6347; }

.section.s-portfolio .content .portfolio_item .item_overlay a:hover {
  background-color: #FF6347; }

.mfp-content .slide .slide_text h1 {
  color: #FF6347; }

.wpcf7-form input.form_btn:hover {
  background: #FF6347;
  color: #ffffff; }

button.mfp-arrow.mfp-arrow-right.mfp-prevent-close {
  color: #FF6347; }

button.mfp-arrow.mfp-arrow-left.mfp-prevent-close::before {
  color: #FF6347; }

.double-bounce1, .double-bounce2 {
  background-color: rgba(255, 99, 71, 0.7); }

.tools_wrap li a {
  color: #FF6347; }

.social_wrap li a {
  color: #FF6347; }

.social_wrap li:hover a {
  color: rgba(255, 99, 71, 0.9); }

.logo_box .poly li a {
  color: #FF6347; }
  .logo_box .poly li a:hover {
    text-decoration: underline; }

.logo_box .poly select {
  background-color: #FF6347; }
  .logo_box .poly select option {
    background-color: #FF6347; }
